.answers{    
    flex: 60%;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    padding: 5px;
    }
    .topics{    
        position: relative;
        flex: 40%;
        height: calc(100vh - 50px);
        
        }
    .faq{
        margin-left: 50px;
    }
    .left-row{
        margin-left: -90px;
    }