.ProblemBox {
    background: #FFFFFF;
    margin: 0 1rem;
    padding: 1.5rem;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.ProblemBox:hover {
    box-shadow: 1px 1px 6px #000000;
}

.problem-details h5 {
    font-weight: 100;
}

.problem-name {
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
}

.problem-difficulty, .problem-points {
    font-size: 0.85rem;
}

.solve-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.solve-button {
    color: #000000;
    margin: 0;
    padding: 0.5rem 3rem 0.5rem 3rem;
    border-radius: 5px;
    font-weight: bold;
    background: var(--lightblue);
    border: 1px solid black;
    transition: 0.1s ease-in-out;
}

.solve-button:hover {
    cursor: pointer;
    background: #22d6c7;
}

@media screen and (max-width: 768px) {
    .ProblemBox {
        flex-direction: column;
    }
    .problem-details {
        margin-bottom: 1rem;
        text-align: center;     
    }
}