.ProblemBox {
    background: #FFFFFF;
    margin: 0 1rem;
    padding: 1.5rem;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.problem-details h5 {
    font-weight: 100;
}

.problem-name {
    margin-bottom: 0.5rem;
}

.solve-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.solve-button button {
    padding: 0.5rem 3rem 0.5rem 3rem;
    font-weight: bold;
}

.solve-button button:hover {
    cursor: pointer;
}