.Ide{
    max-height: 100vh;
    width: 100%;    
    background-color: #fff;
   margin-top: 20px;
}
.main{
    display: flex;
    height: calc(100vh - 50px);
}
.label{
    color: white;
    margin-top: 3px;
    padding: 7px;
}
.left-container{    
    position: relative;
    flex: 60%;
    height: calc(100vh - 50px);
    
    }
    .right-container{    
    flex: 40%;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    background-color: #242424;
    padding: 5px;
    }
    .input-box{
    flex: 50%;
    
    }
    .input-box textarea{
    font-size: 16px;
    }
    .spinner-box{
    flex: 50%;
    background-color: #242424;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .spinner-box img{
    width: 200px;
    }
    .output-box{
    flex: 50%;
    background-color: #242424;
    overflow: auto;
    color: white;
    position: relative;    
    }
    .clear-btn{
    position: absolute;
    bottom: 14px;
    right: 18px;
    width: 20px;
    height: 40px;
    font-size: 17px;
    font-weight: bold;
    color: white;
    background-color: #a4bfef;
    border: none;
    border-radius: 4px;
    transition: 0.3s;
    cursor: pointer;    
    }
    .run-btn li{
        margin-top: -10px;
        margin-left: -17px;
    }
    .clear-btn li{
        margin-top: -10px;
        margin-left: -17px;
    }
    .output-box pre{
    font-size: 15px;
    white-space: pre-wrap;
    }
    h4{
    color: #a4bfef ;
    }
    #code-inp{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    resize: none;
    background-color: #242424;
    color: whitesmoke;
    padding: 5px;
    }
    #code-inp:focus{
    outline: none;
    }
    .run-btn{
    position: absolute;
    bottom: 10px;
    right: 18px;
    width: 20px;
    height: 40px;
    font-size: 17px;
    font-weight: bold;
    color: white;
    background-color: #a4bfef;
    border: none;
    border-radius: 4px;
    transition: 0.3s;
    cursor: pointer;
    }
    .run-btn:active{
    background-color: #6a93cb;
    }
    .drops{
        display: flex;
        align-items: center;
        padding-left: 20px;
        height: 50px;
        text-align: center;
        color: #afec3f;
        
        gap: 20px;
    }
    